* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calc-body {
  position: absolute;
  padding: 10px;
  width: 400px;
  height: 600px;
  background-color: #3d536a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
}

.buttons {
  height: 60%;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.screen {
  color: black;
  font-size: 2rem;
  font-family: "Calc";
  height: 30%;
  width: 90%;
  background-color: #a7a680;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}

#calc-text {
  width: 100%;
  height: 70%;
  text-align: right;
  word-wrap: break-word;
}

#result-text {
  width: 100%;
  height: 20%;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.button {
  width: 100%;
  height: 100%;
  background-color: #9aa3a1;
  border: 1px solid black;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close {
  position: absolute;
  top: -4px;
  right: 0;
  font-size: 2rem;
  cursor: pointer;
}

#move {
  position: absolute;
  top: -4px;
  left: 4px;
  font-size: 2rem;
  cursor: move;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@font-face {
  font-family: "Calc"; /*a name to be used later*/
  src: url("assets/fonts/calcFont.ttf"); /*URL to font*/
}
